page-categories {
    ion-content{
        background: #CC95C0;
      background: -webkit-linear-gradient(to bottom, #7AA1D2, #808080, #CC95C0);
      background: linear-gradient(to top, #7AA1D2, #808080, #CC95C0);
      
      
      }
        
}
